# Security (NEVER commit these)
.env
.DS_Store

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# Docker
postgres_data/

# Large Model Files (Too big for standard Git)
# We will back these up separately or use Git LFS later
*.pkl